@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: rgb(66, 66, 66);
  position: fixed;
  padding: 2em;
  color: white;
  width: 100vw;
}

.main-title {
  flex: 1;
  font-size: xx-large;
  left: 2em;
}

.timer-container {
  flex: 1;
  font-size: x-large;
  position: fixed;
  right: 2em;
}

.header-waldos-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  align-items: center;
}

.header-waldos img {
  width: 48px;
}

.waldo {
  width: 100%;
}

.puzzle-container {
  width: 100%;
  cursor: none;
}

.cursor-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
}

.target-box {
  margin-top: -15px;
  margin-left: -15px;
  height: 30px;
  width: 30px;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 20%;
}

.menu-header {
  font-size: medium;
}

.menu-item {
  display: flex;
  justify-content: space-between;
}

.menu-item img {
  width: 48px;
  pointer-events: all;
}

.puzzle-menu {
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
  padding: 2em;
  border-radius: 10px;
}

.dialog-ref {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dialog-menu {
  background-color: rgb(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
  padding: 2em;
  border-radius: 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 0;
  top: 0;
  position: fixed;
  opacity: 0.9;
  transition: 200ms ease-in-out;
}

.start-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  padding: 2.5em;
  width: 70vw;
  height: 50vh;
  cursor: pointer;
  pointer-events: all;
  opacity: 0.8;
}

.scores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  padding: 2.5em;
  width: 40vw;
  pointer-events: all;
  opacity: 0.8;
  overflow: auto; 
}

.scores-header {
  margin: 0;
  font-size: large;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.start-menu {
  display: flex;
  flex-direction: column;
}

.start-menu p {
  font-size: x-large;
}

.waldos-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5em;
}

.waldo-container img {
  width: 120px;
}

.mdl-button {
  cursor: pointer;
  align-self: center;
  width: 150px; 
  padding-bottom: 2.5em;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-right: 0.5em;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.demo-list-icon {
  width: 300px;
}

.score-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: large;
  padding: 1em;
  row-gap: 1em;
}

input {
  width: 250px;
  padding: 5px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.git-logo {
  margin-right: 0.5em;
}